@import '../../style/mixin';

#lottie {
  @include positionCenter();
  width: 500px;
}

.progress {
  @include positionCenter();
  z-index: 2;
}

.loading {
  img {
    position: absolute;
    @include wh(100%, 100%);
    z-index: -2;
  }
}