@import '../../style/mixin';

@keyframes mymove
{
  from {top: 23%;}
  to {top: 27%;}
}

@keyframes lighting
{
  from {opacity: 1;}
  to {opacity: .5;}
}

.chooseClass {
  @include wh(100%, 100%);

  .backgroundImg {
    @include wh(100%, 100%);
    position: absolute;
    z-index: -1;
  }

  .swiper-container {
    @include wh(100%, 100%);

    img {
      @include wh(100%, 100%);
      position: absolute;
    }

    .swiper-button-prev, .swiper-button-next{
      animation: lighting 1s infinite;
      animation-direction: alternate;
      background-image: url("../../assets/components/introduce_arrow.svg");
      outline: none;
    }

    .swiper-button-next {
      transform: rotateY(180deg);
    }

    .click {
      @include wh(60%, 30%);
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, 0);
      animation: mymove 1s infinite;
      animation-direction: alternate
    }
  }
}

html {
  touch-action:none;
}